/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #333;
}


/* Custom page CSS
-------------------------------------------------- */

html,
body {
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

img {
   margin-top: 2cm;
}

h1 {
  padding-top: 20px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
